# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

# ember-source fork, checked out here by CI to build ember-source
/ember-source-fork/
